@model IEnumerable<Actor>

@{
    ViewData["Title"] = "List of Actors";
}


<em><h3>Actors</h3></em>
<a asp-action="Create">
    <i class="bi bi-plus-circle"></i> Add New
</a>
<hr />
@*<table  id="myTable" class="table table-bordered table-hover table-sm">
        <thead>
            <tr class="text-center">
                <th>@Html.DisplayNameFor(model => model.ProfilePictureURL)</th>
                <th>@Html.DisplayNameFor(model => model.FullName)</th>
                <th>@Html.DisplayNameFor(model => model.Bio)</th>

                    <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">
                        <img class="rounded-circle" src="@item.ProfilePictureURL" alt="@item.FullName" style="max-width: 150px" />
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Bio)
                    </td>

                        <td class="align-middle" width="200">
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit </a> |
                            <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details </a> |
                            <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete </a>
                        </td>


                </tr>
            }
        </tbody>

    </table>*@

<table id="myActorTable" class="table table-hover table-sm table-striped" data-page-length='5'>
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Image
            </th>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="id_@item.Id">
                <td>
                    @item.Id
                </td>
                <td>
                    <img src="@item.ProfilePictureURL" alt="@item.FullName" style="min-width: 120x;max-height:150px" />
                </td>
                <td>
                    @item.FullName
                </td>
                <td style="max-width:fit-content">
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit </a> |
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details </a> |
                    <a class="btn btn-danger text-white " asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete </a>
                </td>

            </tr>
        }
    </tbody>
</table>




@*@await Html.PartialAsync("_CreateItem", "Actors")*@
<br />
<br />