@model IEnumerable<CinemaApplication.Models.Movie>

@{
    ViewData["Title"] = "List of Movies";
}


@*<style>
    body {
        background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190622/ourmid/pngtree-minimalist-film-festival-film-and-tv-movie-poster-image_220289.jpg);
        background-size: cover;
    }
</style>*@
@*<div style="display:flex;flex-direction:row;justify-content:space-around">
        <em><p style="font-size:30px">Movies</p></em>
        <a  asp-action="Create" >
            <i class="bi bi-plus-circle"></i> Add New
        </a>
    </div>*@
<em><h3>Movies</h3></em>
<a asp-action="Create">
    <i class="bi bi-plus-circle"></i> Add New
</a>
<hr />
<table id="myTable" class="table table-hover  table-striped table-sm" data-page-length='5'>
    <thead>
        <tr>
            <th data-orderable="false">
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>*@
            <th>
                StartDate&EndDate
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.MovieCategory)
                </th>*@
            <th>
                   Genre
                </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Producer)
                </th>*@
            <th data-orderable="false"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.ImageURL" width="100"  alt="" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                    <br />
                    @Html.DisplayFor(modelItem => item.EndDate)

                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>*@
                <td>
                        @Html.DisplayFor(modelItem => item.MovieCategory.Name)
                    </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Cinema.Description)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.Producer.Bio)
                    </td>*@

                <td class="align-middle" style="max-width:fit-content()">
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit </a> |
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details </a> |
                    <a class="btn btn-danger text-white confirmDeletion" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete </a>
                </td>

            </tr>
        }
    </tbody>

</table>
