@model IEnumerable<Movie>

@{ ViewData["Title"] = "List of Movies"; }
@*<head>
        @foreach (var item in Model)
        {
    <div class="col-md-5 col-xs-6 border-primary mb-3">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white " style="background-color:pink">
                        <p class="card-text">
                            <h5 class="card-title">
                                @item.Name


                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="@item.ImageURL" width="100%" alt="@item.Name">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text">@item.Description</p>
                        <p class="card-text"><b>Cinema: </b>@item.Cinema.Name</p>
                        <p class="card-text"><b>Category: </b>@item.MovieCategory</p>
                        <p class="card-text"><b>Start Date: </b>@item.StartDate.ToString("dd MMM yy")</p>
                        <p class="card-text"><b>End Date: </b>@item.EndDate.ToString("dd MMM yy")</p>
                        <p class="card-text ">
                            <b>Status: </b>
                            @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                            {
            <span class="badge bg-success text-white">AVAILABLE</span> }
                            else if (DateTime.Now > item.EndDate)
                            {
            <span class="badge bg-danger text-white">EXPIRED</span> }
                            else
                            {
            <span class="badge bg-primary text-white">UPCOMING</span>}
                        </p>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer ">
                        <p class="card-text">
                            <a class="btn btn-outline-info float-right" asp-action="Details" asp-route-id="@item.Id">
                                <i class="bi bi-eye"></i> Show Details
                            </a>


                            <a class="btn btn-success text-white @((DateTime.Now > item.EndDate) ? "disabled" : "")"
                               asp-controller="Orders"
                               asp-action="AddItemToShoppingCart"
                               asp-route-id="@item.Id">
                                <i class="bi bi-cart-plus"></i> Add to Cart (Price @item.Price.ToString("c"))
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>}
    </div>*@
@*<head>
    <style>
        body {
             background-color: rgb(28, 26, 26);/dark grey
            background-color: rgb(247, 213, 237);/pink
        }
        
    </style>
</head>*@
<style>
.aa{
    border-radius:20px;
    box-shadow: black 0px 2px 15px; 
}


    .card:hover > .card-body {
        background-color: gray;
        color: white;
        text-shadow: black 0px 2px 10px;
    }
    btn:hover{
        color:white;
        background-color:darkred;
    }
   

       
    
</style>
    <div  style=" display: flex; flex-wrap: wrap;justify-content:inherit;">
        @foreach (var item in Model)
        {

            <div class="card-group" style="margin:10px;">
                
                 <div class="card aa " style="max-width: 16rem;max-height:900px;">
                    <img src="@item.ImageURL" class="card-img-top" alt="@item.Name" style="max-height:450px;min-height:450px;">
               
                    <div class="card-body">
                        <em> <h3 class="card-title" style=" text-shadow: darkred 0px 2px 10px; ">@item.Name</h3></em>
                        <div>
                            @*<p class="card-text">@item.Description</p>*@
                            @*<p class="card-text"><b>Cinema: </b>@item.Cinema.Name</p>*@
                            <p style="color:darkred" class="card-text"><b> @item.MovieCategory.Name </b></p>

                            <p class="card-text ">
                                @*<b>Status: </b>*@
                                @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                {
                                    <span class="badge bg-success text-white">AVAILABLE</span> }
                                else if (DateTime.Now > item.EndDate)
                                {
                                    <span class="badge bg-danger text-white">EXPIRED</span> }
                                else
                                {
                                    <span class="badge bg-primary text-white">UPCOMING</span>}
                            </p>

                        </div>

                    </div>
                       
                    <div class="card-footer" >

                        <p class="card-text" style="display:flex;justify-content:space-between;column-gap:5px;">
                            <a style="color:darkred" class="btn btn-outline aa float-right" asp-action="Details" asp-route-id="@item.Id">
                                <i class="bi bi-eye" style="padding-bottom:100px;color:darkred"></i> Show Details
                            </a>
                            <a style="background-color:darkred;color:white; box-shadow: black 0px 2px 15px;" class="btn   @((DateTime.Now > item.EndDate || !User.Identity.IsAuthenticated) ? "disabled" : "")" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id">
                                <i style="color:white" class="bi bi-cart-plus"></i>   @item.Price.ToString("c")
                            </a>


                            @*<a class="btn btn-success text-white @((DateTime.Now > item.EndDate) ? "disabled" : "")"
                                   asp-controller="Orders"
                                   asp-action="AddItemToShoppingCart"
                                   asp-route-id="@item.Id">
                                    <i class="bi bi-cart-plus"></i> Add to Cart (Price @item.Price.ToString("c"))
                                </a>*@
                        </p>
                    </div>
                </div>


            </div>

        }
    </div>
    
    @*<div style="clear:both;">&nbsp;</div>*@
